[submodule "+TMSiSAGA"]
	path = +TMSiSAGA
	url = git@github.com:Neuro-Mechatronics-Interfaces/TMSiSAGA_MATLAB.git
[submodule "+default"]
	path = +default
	url = git@github.com:m053m716/Matlab-Defaults.git
[submodule "+io"]
	path = +io
	url = git@github.com:m053m716/-io.git
[submodule "+utils"]
	path = +utils
	url = git@github.com:Neuro-Mechatronics-Interfaces/NHP_MATLAB_Utilities.git
